In [1]:
import os, re
import pandas as pd
import datetime
import nltk
import numpy as np
import gensim
from stop_words import get_stop_words
from nltk.tokenize import PunktSentenceTokenizer
from gensim.models import CoherenceModel
from gensim.utils import simple_preprocess
from gensim.models import TfidfModel
from wordcloud import WordCloud
from gensim import corpora, models, similarities 
from gensim.parsing.preprocessing import remove_stopwords
import spacy
import itertools
import warnings
warnings.filterwarnings("ignore")
from nltk.stem.snowball import SnowballStemmer
stemmer = SnowballStemmer("english")
from datetime import datetime
import matplotlib
import matplotlib.pyplot as plt
plt.rcParams["font.family"] = "Times New Roman"
%matplotlib inline
matplotlib.use('agg')
import itertools
import pickle
import pyLDAvis
import pyLDAvis.gensim 
pyLDAvis.enable_notebook()

In [19]:
dictionary2 = gensim.corpora.Dictionary.load('dictionary_tri.dict')

In [14]:
keyls =[]
vls = []
for key, value in dictionary.token2id.items():
    keyls.append(key)
    vls.append(value)

In [15]:
emp = pd.DataFrame()
emp['v'] = keyls
emp['key'] = vls

In [18]:
list(range(0,100,5))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [24]:
import operator
#x = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
sorted_x = sorted(dictionary2.token2id.items(), key=operator.itemgetter(0), reverse = False)
print(type(dictionary2.token2id))
#sorted_x

<class 'dict'>

In [26]:
#sorted_x

In [29]:
dictionary2.save_as_text('a.txt')

In [31]:
dft = pd.read_table('a.txt')

In [38]:
dft = dft.reset_index()

In [58]:
dft.sort_values('5591', ascending= False)

       level_0                  level_1  5591
10848       49                   system  2865
6531        92                    manag  2697
2122        11                  compani  2619
12178       52                     work  2544
11168      113                     time  2491
5006        86                     help  2448
6574       246                   market  2309
1392         5                     busi  2290
5544        29                    innov  2286
8603       271                  process  2184
10784       48                  support  2144
5384       147                   improv  2138
5504       148                   inform  2130
12001      639                      way  2121
7637       441                    organ  2098
37           0                   access  2092
8226       162                 platform  2086
7855       102                  patient  2036
8610        41                  product  2019
9963       474                   servic  2004
11247      178                     tool  1899
9337        44                 research  1884
2619      1013                   custom  1870
2334       350                  continu  1868
8696       106                   provid  1825
5427       240                   includ  1823
4288        82                    focus  1799
7817       101                  partner  1798
158        185                    addit  1790
10733      482                  success  1768
...        ...                      ...   ...
4535      7816                   garbag     5
7748     11119                    palac     5
7736      7794  packard_children_hospit     5
11210     7549                    todat     5
11208    11756                     tobi     5
4572     10882                    gemma     5
4457     10964                     ftse     5
7771     11358                    paolo     5
4381      8044                four_five     5
4442      8277                 friedman     5
11258     2982         top_five_percent     5
7799      3883                   parker     5
4393      4375                    fqhcs     5
4401     12152                  franchi     5
7794      4789          parent_children     5
4406      7125                    franz     5
4411      9784          fraud_wast_abus     5
4415      3829                     fray     5
4416      6680                      frc     5
7791     11961                     parc     5
4425     10219                  freeman     5
7789     11820                 parametr     5
4430     11058           french_startup     5
11243     4678                  tonight     5
10373     9774                    spear     5
4435      9119                 freshman     5
4436      9093                      fri     5
7783      5318                    parad     5
10375     7636                     spec     5
11114    11895            thoughtprovok     5

[12300 rows x 3 columns]

In [55]:
dft[dft['level_1']=='']

Empty DataFrame
Columns: [level_0, level_1, 5591]
Index: []